.header__title {
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    text-align: center;
}

header {
    background-color: black;
    color: whitesmoke;
    margin-bottom: 30px;
}