/*Импорт стилей из других файлов*/

@import "_body-style.scss";
@import "_header-styles";

/* "_" в названии файла для того чтобы не создавался его эквивалент в css*/


/*Переменные*/

$fs-large:32px;
$fs-small:20px;
$font-weights: ("light":100, "regular": 400, "bold": 700, "boldest": 900);

/*Шаблон*/

%myborder {
    border: 1px dashed red;
}


/*Миксины*/

@mixin fc($fcolor) {
    color: $fcolor;
    border: 1px solid $fcolor;
}

.block__title {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    /*Вставка переменных*/
    font-size: $fs-large;
    font-weight: bold;
}

.block_template_paddings {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.block1 {
    /*Миксин*/
    @include fc(green);
    /*Родительский класс &*, и класс p со вложенностью 1 уровня*/
    &>p {
        /*Числовой оператор +*/
        font-size: $fs-small+3*2;
    }
    /*Вложенность*/
    .block1-1 {
        @include fc(red);
        & p {
            /*Используем шаблон*/
            @extend %myborder;
        }
        /*Комбинатор +, следующий за классом block1-1 тег "а", будет изменен*/
        &+a {
            margin-left: 40px;
            color: purple;
        }
        a {
            color: red;
            text-decoration: underline;
            &:hover {
                color: black;
                font-size: $fs-large+4px;
            }
        }
    }
}

p {
    margin-left: 40px;
}

.block2 {
    /*Изменить цвет */
    @include fc(adjust-hue(teal, 60deg));
    /*демонстрация встроенного модуля map*/
    .p1 {
        font-weight: map-get($font-weights, $key: "light");
    }
    .p2 {
        font-weight: map-get($font-weights, $key: "regular");
    }
    .p3 {
        font-weight: map-get($font-weights, $key: "bold");
    }
    .p4 {
        font-weight: map-get($font-weights, $key: "boldest");
    }
}