@use "style.scss"as s;

.pop-up-window {
    margin: auto;
    display: none;
    max-width: 600px;
    height: 500px;
    border: 1px solid s.$colorGrey;
  
    border-radius: 5px;
    
    .container-items{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        
        .item {
            display: flex;
            flex-direction: column;  
            input {
                @extend %enterField;
            }
    
            label {
                @extend %textBold;
               
            }
            select{
                @extend %enterField;
            }
        }
        button{
            width: 250px;
            height: 30px;
            background-color: s.$colorBlue;
            margin-top: 25px;
            border-radius: 5px;
        }
    }
   
}