*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

body{
    background-color: rgb(180, 255, 255);
    color: black;
    justify-content: center;
}

main{
    display: flex;
    flex-wrap: wrap;

}
p{
    padding-bottom: 5px;
}
div.menu-list{
    padding: 30px;
    
    
}
div.menu-list-hor li{
    display: inline;
}
div.menu-list-hor {
    padding: 30px;
}

div.header{
   background-color: aqua;
   min-height: 50px;
   display: flex;
   flex-direction: row;
   justify-content: center;

}

.submenu {
    position: absolute;
    z-index: 5;
    min-width: 200px;
    background: white;
    border-top: 1px solid #CBCBCC;
    border-left: 1px solid #CBCBCC;
    border-right: 1px solid #CBCBCC;
    visibility: hidden;
    opacity: 0;
    transform-origin: 0% 0%;
    transform: rotateX(-90deg);
    transition: .3s linear;
  }

.lv ul ul  {
  position: relative;
  display: none;
  
  }
.lv li:hover ul  {
    display: block;
  }


  .share {
    width: 270px;
    margin: 0 auto;
    padding: 10px;

  }
  
  .social {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #bdc3c7;
    margin-right: 10px;
    vertical-align: middle;
  }

  .gh{
    background-color: #0f0f0f;
  }
  .gl{
    background-color: #e97618;
  }

 
  
