* {
    box-sizing: border-box;
    margin: 0;
}

p {
    font-weight: bold;
}

.grid__container {
    display: grid;
    grid-template-rows: 100px;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 20px;
}

.grid__container__item {
    background-color: #e2de6c;
    color: #454301;
    height: 100px;
    box-shadow: 0px 30px 80px rgba(168, 233, 37, 0.102);
}

.grid2__container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 200px);
    gap: 20px;
}

.grid__container__first-cell {
    background-color: #e2de6c;
    justify-self: start;
}

.grid__container__second-cell {
    background-color: #6ce26c;
    justify-self: center;
}

.grid__container__third-cell {
    background-color: #6ce2da;
    justify-self: end;
}

.grid3__container {
    display: grid;
    grid-auto-rows: 100px;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 30px;
}

.grid3__container div {
    background-color: #e2de6c;

}

.grid3_2 {
    background-color: #e2976c;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

body {
    display: grid;
    width: 100%;
    grid-template-areas: 
        "head head"
        "main  aside"
        "footer  footer";
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: minmax(50px, auto);
}

header {
    grid-area: head;
    background-color: #8cffa0;
}

main {
    grid-area: main;
    padding-bottom: 10px;
    padding-right: 10px;
}

footer {
    grid-area: footer;
    background-color: #8cffa0;
    bottom: 0;
    
}
aside {
    grid-area: aside;
    background-color: #ccd3cd;
}
