.img{
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%; 
}
@media (max-width: 500px){
    .img{
        width: 100%; 
    }  
}

.print-div{
    margin-top: 100px;
}

.text_danger{
    color: rgb(255, 0, 0);
    font-weight: bold;
}