main{
    font-size: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.img {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

nav {
    display: flex;
    flex-direction: column;
    position: static;
    right: 10px;
    top: 15%; 
    flex-direction: row;

}
.right__block__item{
    margin-right: 15px;
}

nav p{
    font-weight: bold;    
    min-width: 150px;
}
.row{
    display: flex;
    flex-direction: column;
}


@media (max-width: 600px) {
    .img {
        width: 100%;
    }
}

li {
    list-style: none;
}

button {
    width: 150px;
    word-wrap: break-word;
    background-color: rgb(255, 255, 255);
    border: 3px #000 solid;
    margin-bottom: 5px;
}
button:focus{
    border: rgb(255, 0, 200) 5px solid;

}
.color{
    width: 40px;
    height: 40px;
    
    
}
.color1{
    background-color: #0096a7;
}
.color2{
    background-color: #59ff4a;
}
.color3{
    background-color: #ffffff;
}