@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;

}

header {
    color: #FFFFFF;
    background-color: #161616;
    min-height: 600px;
    width: 100%;
    position: relative;
    font-family: 'Raleway', sans-serif;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;*/
}

.menu {}

.munu__item {}

.munu__item__img {
    /*margin-right: 15px;*/
}

.container__menu {}

header nav {
    min-width: 100%;
    padding-left: 189px;
    padding-top: 15px;
    font-family: 'Raleway';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-align: left;
    text-transform: uppercase;
}

header li {
    display: inline;
    padding-right: 25px;
}

header ul {

    margin-top: 0px;
    padding: 15px;
}

header a {
    text-decoration: none;
    color: #FFFFFF;
}

.header__img {
    position: absolute;
    right: 0;
    top: 30%;
    max-width: 900px;

}

.header__text {
    text-transform: uppercase;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.12em;
    text-align: left;

}


.header__button {
    margin-top: 50px;
    width: 214px;
    height: 60px;
    color: #161616;
    background-color: #FFE500;
    text-align: center;
    font-size: 18px;
}

aside {
    font-family: 'Raleway';
    max-width: 526px;
    margin-top: 170px;
    margin-left: 4%;
}

main {
    background-color: #ffffff;
}

.block1__main {
    background-color: #F1F2F5;
    padding-top: 214px;  
}



.main__container {
    display: grid;
    grid-template-rows: repeat(3, 460px);
    grid-template-columns: repeat(auto-fit, 370px);
    row-gap: 50px;
    column-gap: 30px;
    margin-left: 0;
    margin-right: 0;
    max-width: 1170px;  margin-left: auto;  margin-right: auto;

}

.main__container__item {
    background-color: #ffffff;
    box-shadow: 0px 30px 80px rgba(0, 0, 0, 0.102355);
}

.main__container__item img {
    width: 370px;
}

.main__container__item__text {
    text-transform: uppercase;

    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 3px;
    text-align: center;
    padding: 2em;

}

.main__container__item:hover {
    position: relative;
    top: -20px;
    padding-bottom: 20px;
    font-weight: bold;
}

.main__container__item:hover .main__container__item__text {
    font-weight: bold;
}

.block2__main {
    margin-top: 100px;
    background-color: #ffffff;
    max-width: 1000px;  margin-left: auto;  margin-right: auto;
}
.block2__main .main__container{
    display: grid;
    grid-template-rows: repeat(3, 130px);
    grid-template-columns: repeat(auto-fit, 280px);
    row-gap: 50px;
    column-gap: 70px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 84px;
   
}